<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.rap.ui.resources">
      <resource
            class="org.eclipse.rap.iscroll.internal.resources.IScrollResource">
      </resource>
      <resource
            class="org.eclipse.rap.iscroll.internal.resources.IScrollMixinResource">
      </resource>
      <resource
            class="org.eclipse.rap.iscroll.internal.resources.IScrollSupportResource">
      </resource>
   </extension>

</plugin>
