<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.rap.ui.entrypoint">
      <entrypoint
            class="org.eclipse.rap.iscroll.demo.IScrollDemo"
            id="org.eclipse.rap.iscroll.demo.entrypoint1"
            path="/iscroll">
      </entrypoint>
   </extension>

</plugin>
